<div class="midsection">
    
    <h1>Engineering College</h1>

    
        <p id="p1">First year admissions for the academic year 2021-22</p>
        <p id="p2">How to become a Starwood student</p>
        <p id="p3">We are delighted that you are considering an Degree programmes at 
            <br>Starwood College of 
            Egineering Please read all instructions
             and <br>requirements carefully to ensure a complete and correct application. Feel free to 
             <br>contact us on principal.<a href="#">principal.starwood@gmail.com </a>in case of any queries.</p>
</div>
