<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    </head>
    <body>
        <header>
            <ul>
                <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;Starhood College of Engineering</li>
                <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;8104834528</li>
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;starhood.college@gmail.com</li>
            </ul>
        </header>
    </body>
</html>