
<div class="main">
<div class="row">
  
<div class="card">
    <img class="card-img-top" src="/assets/images/electronic stove.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="#">Pigeon by Stovekraft Cursive 1800 watt Induction Cooktop (Black)...</a>
      <h6 class="card-text">{{price | currency:'INR'}}</h6>
      <a routerLink="refrigerator" class="btn btn-primary">VISIT SITE</a>
    </div>
</div>

<div class="card">
    <img class="card-img-top" src="/assets/images/kettle.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="#">Pigeon by Stovekraft Amaze Plus Electronic Kettle(14289) Stainless Steel Body...</a>
      <h6 class="card-text">{{price1 | currency:'INR'}}</h6>
      <a routerLink="kettle" class="btn btn-primary">VISIT SITE</a>
    </div>
</div>




<div class="card">
    <img class="card-img-top" src="/assets/images/ac.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="#"> Voltas 1 Ton 3 star Split Air Conditioner with High Ambient Cooling.</a>
      <h6 class="card-text">{{price2 | currency:'INR'}}</h6>
      <a routerLink="ac" class="btn btn-primary">VISIT SITE</a>
    </div>
</div>
<div class="main3">
  &nbsp; &nbsp;<router-outlet></router-outlet>
</div>
</div>
</div>