.card{
    width: 22%;
    /* sheight: 30%; */
    min-height: 170px;
    margin-top: 20px;
}
.card-body{
    padding-top: 20px;
}
.main3{
    position: relative;
    bottom: 450px;
    margin-left: 1000px;
}
.main{
    background-color: #edeae1;
}
