<p>rect works!</p>

<div class="row justify-content-center">
    <div class="col-md-6  text-left rounded shadow py-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" formControlName="firstname" class="form-control">
                <div *ngIf="!firstname.valid && firstname.touched">
                <div *ngIf="firstname?.errors.required">Firstname is required</div>
                <div *ngIf="firstname?.errors.maxlength">Firstname contain only 5 character</div>
            </div>
            </div>

        </form>
        
    </div>
</div>