<p>reactive-form works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
              <div formGroupName="userDetails">
                <div class="form-group">
                  <label for="username">Username</label>
                <input type="text"  id="username" class="form-control" formControlName="username" placeholder="Enter user name">
                <small *ngIf="!myReactiveForm.get('userDetails.username').valid && myReactiveForm.get('userDetails.username').touched">
                 <small  class="text-danger" *ngIf="myReactiveForm.get('userDetails.username').errors['required']">Enter username 
                </small>
                <small  class="text-danger" *ngIf="myReactiveForm.get('userDetails.username').errors['nameNotAllowed']">
                 {{myReactiveForm.get('userDetails.username').value}} is not allowed
                </small>
              </small>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
  
                <input type="text" name="" id="email" class="form-control" formControlName="email" placeholder="Enter email name">
                <small class="text-danger" *ngIf="!myReactiveForm.get('userDetails.email').valid && myReactiveForm.get('userDetails.email').touched">Please enter valid email</small>
              </div>
  
              </div>
          
          <div class="form-group">
            <label for="courses">Courses</label>
          <select class="form-control" formControlName="course">
          <option value="Angular">Angular</option>
          <option value="Html">Html</option>
          <option Value="Java">Java</option>
        </select>
          </div>
          <div class="custom-control custom-radio" *ngFor="let gender of genders">
          
            <input type="radio" class="custom-control-input" id="{{gender.id}}" value="{{gender.value}}" formControlName="gender">
             <label for="{{gender.id}}">{{gender.value}}</label>
          
        </div>
        <div class="form-group" formArrayName="skills">
          <label>Skills</label>
          <ng-container *ngFor="let skill of this.myReactiveForm.get('skills').controls; index as i ">
            <input type="text" class="form-control mt-2" formControlName="{{i}}" placeholder="add skills">
          </ng-container>
          <button class=" btn btn-light btn-sm mt-4 btn-add" (click)="onAddSkills()"><i>+</i>Add skills</button>

        </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
             
        
    </div>
       
        </div>

</div>