<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header> </app-header>


  <app-navigation></app-navigation>
<br>
<br>
<br>

<app-content></app-content>
<br>
<app-warnning> </app-warnning>
<app-sucess></app-sucess>
<br>
<app-server></app-server>
<br> -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<!-- <app-server></app-server>
<app-databinding></app-databinding>

<app-demodirectives></app-demodirectives> 

 <app-structural-directives> </app-structural-directives>
<br>

<app-ng-switch2></app-ng-switch2>
<app-attri></app-attri>

<br>
<br>
<br>
<app-confirmpass></app-confirmpass>

<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-parent></app-parent> -->
 <!-- <div style="text-align:center"> -->
  <!-- <h1> -->
    <!-- Welcome to {{ title }}! -->
    <!-- <app-server></app-server> -->
<!-- <br>
<br>
<ul *ngFor="let f of foods">
  <li>{{f}}</li>
</ul>
  


<!-- <app-child [employee_new_one]="employees_one"></app-child> -->


<!-- <app-childout (collegeDetail)="getDataFromChildO($event)"></app-childout>
<br>
<br>
<div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>College Code</th>
        <th>College Name</th>
        <th>College Address</th>
        <th>College Intake</th>
        <th>College Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of collegep" >
    
      <td>{{c.college_code}}</td>
      <td>{{c.college_name}}</td>
      <td>{{c.college_address}}</td>
      <td>{{c.college_intake}}</td>
      <td>{{c.college_grade}}</td> 
      </tr>
    </tbody>
  </table>
</div> --> -->
<!--     
  
 <!-- <select (change)="uid=sid.value" #sid>
      <option selected disabled>No value Selected</option>
      <option [value] ="id" *ngFor=" let id of [1,2,3,4]">
        {{id}}
      </option>
    </select>
    <app-hooks [userid]="uid" [parentData]="data" [product]="prodct">
    <h1>This is childe content coming from Parent</h1>
    </app-hooks> -->
     <app-parentcomponent></app-parentcomponent>
    <app-directive-assignment></app-directive-assignment> -->    <app-demodirectives (foodevent)="getDataFromChild($event)"></app-demodirectives>  --> --> --> -->
   
    <!-- <app-new-directive-assign></app-new-directive-assign>
     <h1 #child>This is child content coming from parent component</h1> -->
<!-- <app-hooks *ngIf="isShow" [userid]="uid" [parentData]="data" [product]="product">
  <h1 #child>This is child content coming from parent component</h1> 
 
  

</app-hooks>
<!-- <button (click)="destroy()">Destory</button>
<br>

    <input type="text" (blur)="handleData($event)"><br>

   Enter Product Name: <input type="text" [(ngModel)]="name"><br>
   
   Enter Product Price: <input type="text" [(ngModel)]="price"><br>
   
   <button (click)="updateProduct()">Update Product</button>

   <app-simple-template></app-simple-template> -->
   <!-- <app-form-assign></app-form-assign>
    <app-form-assignment-two></app-form-assignment-two> -->

   <!-- <app-cosmatic></app-cosmatic> -->
    <br>
   <br>
  
   <app-template-driven-form></app-template-driven-form> 
    <app-reactive-practice></app-reactive-practice> 
   <app-assignment-template-driven></app-assignment-template-driven>
   <app-reactive-two-assinment></app-reactive-two-assinment>
    <app-reactive-form></app-reactive-form>
    <app-temp-pract></app-temp-pract>
    <app-rect></app-rect>
    <app-service-component1></app-service-component1>
    <app-service-component2></app-service-component2>