<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header> </app-header>


  <app-navigation></app-navigation>
<br>
<br>
<br>

<app-content></app-content>
<br>
<app-warnning> </app-warnning>
<app-sucess></app-sucess>
<br>
<app-server></app-server>
<br> -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

<!-- <app-server></app-server>
<app-databinding></app-databinding>

<app-demodirectives></app-demodirectives> 

 <app-structural-directives> </app-structural-directives>
<br>

<app-ng-switch2></app-ng-switch2>
<app-attri></app-attri>

<br>
<br>
<br>
<app-confirmpass></app-confirmpass>

<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-parent></app-parent> -->
 <!-- <div style="text-align:center"> -->
  <!-- <h1> -->
    <!-- Welcome to {{ title }}! -->
    <!-- <app-server></app-server> -->
<br>
<br>
  
<app-child [employee_new_one]="employees_one"></app-child>
