

<h5 id="hmain">Washing Machine  works!</h5>
<div class="card">
    <img class="card-img-top" src="/assets/images/washing.jpg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">LG 9.0 Kg 5 Star Inverter Fully-Automatic Front Loading Washing Machine (FHM1409BDP, Platinum, 6 Motion Direct Drive)</h2>
      <div class="card-text"><h5>Product Feature:</h5>
       <ul>
        <li>Fully-automatic front load washing machine</li>
        <li>best wash quality, energy and water efficient</li>
        <li>Capacity 9 kg: Suitable for large families</li>
        <li>Energy Rating 5 Star: Best in class efficiency</li>
        <li>Manufacturer Warranty: 2 years on product, 10 years on motor (T&C)</li>
        <li>1400 RPM: higher spin speeds helps in faster drying</li>
        <!-- <li>10 Wash Programs: Cotton, Cotton Large, Mix, Easy Care, Baby Care, Sports Wear, Delicate, Wool, Quick30, Rinse plus Spin</li> -->
        <li>10 Year Warranty</li>
       </ul>
    </div>
      <!-- <a routerLink="washingMachine" class="btn btn-primary mt-2">Visit</a> -->
    </div>
  </div>
