<p>attri works!</p>
<p appCustomDir>Custom para</p>

<div [ngStyle]="{'color':colorVal, 'background-color':'#ddd'}"> Learning Angular 8</div>

<h4>Ng Class</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'
    }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>


<p>Normal Para</p>
<div>
<input type="text" name=" "  id=" " #uusername>
</div>
<button  (click)="show(uusername.value)">show</button>
<div>
    {{uname}}
</div>