<!-- <div class="card" style="width: 25rem;">
<div class="card-body">
 <div class="card-header"  style="font-weight: bold;">Assignment @input Decorator</div>
 
<div>
    Employee Id:   {{employee_new.emp_id}}<br>
    Employee Name:  {{employee_new.emp_name}}<br>
    Employee Department: {{employee_new.emp_dept}}<br>
    Employee Salary: {{employee_new.emp_salary}}<br>
    Employee Company: {{employee_new.emp_company}}<br>
</div>
</div>
</div> -->

<div>
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
<tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee Department</th>
    <th>Employee Salary</th>
    <th>Employee Company</th>
</tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employee_new_one">
            <td>{{emp.emp_id}}</td>
            <td>{{emp.emp_name}}</td>
            <td>{{emp.emp_dept}}</td>
            <td>{{emp.emp_salary}}</td>
            <td>{{emp.emp_company}}</td>
        </tr>
        </tbody>

    </table>
</div>