<p>service-component1 works!</p>
<!-- 
<button (click)="onSubscribe()">subscribe</button>
<ng-container  *ngFor="let p of products">
    <p>Product id: {{p.id}}</p>
    <p>Product name: {{p.name}}</p>

</ng-container> -->
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Username</td>
            <td>Email</td>
            <td>Address</td>
            <td>Company</td>
            <td>Website</td>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of apiData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.username}}</td>
            <td>{{data.email}}</td>
            <td> {{data.address.city}} {{data.address.geo.lat}} {{data.address.geo.lng}} {{data.address.street}} {{data.address.suite
            }} {{data.address.zipcode}}</td>
            <td>{{data.company.name
            }} {{data.company.catchPhrase}} {{data.company.bs
            }}
        </td>
            <td>{{data.website}}</td>
        </tr>
    </tbody>
</table>