<div class="container">
<div class="row justify-content-center">
    <div class="col-md-6 text-left py-5 ">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()"> 
            <div formGroupName="userDetails">
        <div class="form-group">
            <label for="username"> Username</label>
            <input type="text" id="username" formControlName="username" placeholder="Enter user name" class="form-control">
            <small  class="text-danger" *ngIf="!myForm.get('userDetails.username').valid && myForm.get('userDetails.username').touched">
            
                <small *ngIf="!myForm.get('userDetails.username').valid && myForm.get('userDetails.username').errors['nameNot']">
                    {{myForm.get('userDetails.username').value}}is not allowed

                </small>
        
            </small>

        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="enter proper email">
            <small *ngIf="!myForm.get('userDetails.email').valid && myForm.get('userDetails.email').touched" class="text-danger">Please enter email</small>


        </div>
    </div>
        <div class="custom-control custom-radio" *ngFor="let gender of genders">

            <input type="radio" class="=custom-control-input" id="{{gender.id}}" value="{{gender.value}}" formControlName="gender">
            <label for="{{gender.id}}">{{gender.value}}</label>
            

        </div>
        <div class="form-group">
            <select class="form-control" id="course" formControlName="course">
                <option value="Angular">Angular</option>
                <option value="Html">Html</option>
                <option value="Javascript">Javascript</option>
            </select>
        </div>

<button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
        </div>

</div>
</div>