


<div class="card">
    <img class="card-img-top" src="/assets/images/kettle.jpg" alt="Card image cap">
    <div class="card-body">
    
      <h6 class="card-text">Croma 1.2 Litres 1500 Watts Electric Kettle (Detachable Base, CRAK3057, Silver)</h6>
      <ul> <b>Key Feature</b>
        <li>1.2 Litres, Detachable Base</li>
        <li>Concealed Heating Element</li>
        <li>Over-heating Protection</li>
        <li>Power: 1500 Watts</li>
        <li>12 Months Warranty</li>
      </ul>
      <a routerLink="kettle" class="btn btn-primary">By Now</a>
    </div>
</div>
